
body {
    background-image: url(../img/background.png);
    background-size: 1920px 1100px;
    background-repeat: no-repeat;
    
    margin-top: 0;
    padding: 0;

    
}
.panel {
    padding-top:10px;
}
.content p {
    padding-top: 50px;
    text-align: center;
}
.footer {

  padding-top: 40px;
}
p {
    margin-top: 0;
}
.logo img {
    padding-bottom: 40px;
}






